.blured-imgs{
    position: fixed;
    left: 360px;
    top: 100px;
    z-index: -1000;
    animation: flyingImgs 5s ease-in-out infinite alternate;
}

@keyframes flyingImgs{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0);
    }
}


.login-containor{
    display: flex;
    margin: 0 auto;
    width: 1155px;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.login-text{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.login-header{
    display: flex;
    align-items: center;
    gap: 12px;

}

.login-header span{
   font-size: 36px; 
}

.login-text h2{
    color: var(--htext-color);
    font-size: 48px;
    font-weight: 400;
}

.login-text p{
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
}

.login-containor .form-containor{
    width: 560px;
    height: 500px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 25px 50px -12px #00000040;
    background-color: white;
    padding: 64px;
    gap: 36px;
}

#login-error{
    color: red;
}

.form-containor .form-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-text h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: var(--htext-color);
}

.form-text p{
    font-size: 16px;
    line-height: 24px;
    color: #4A5565;
}

.form-containor form{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.form-containor form label{
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box{
    position: relative;
}

.input-box input{
    border: 2px solid #E5E7EB;
    border-radius: 14px;
    padding: 12px 32px 12px 16px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
}

.input-box input:focus{
    border-color: #E60076;
    background: #e600771c;
}

.input-box img{
    position: absolute;
    right: 15px;
    top: 10px;
}

.form-containor form button{
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    padding: 16px;
    border-radius: 14px;
    font-size: 16px;
    line-height: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.form-containor form button:hover{
    background: var(--primary-hover);
    transform: scale(1.05);
}

.account-status{
    text-align: center;
}

.account-status a{
    color: #9810FA;
    text-decoration: none;
}

.account-status a:hover{
    color: hsl(275, 96%, 32%);
    border-bottom: 2px solid hsl(275, 96%, 32%);;
    border-radius: 5px;
    transform: scale(1.1);
}

@media (max-width: 1280px){
    .login-containor{
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 768px){
    .login-containor{
        flex-direction: column;
        height: auto;
        gap: 40px;
        padding: 40px 20px;
        margin-top: 50px;
    }

    .login-containor .form-containor{
        width: 100%;
        height: auto;
        padding: 32px;
        
    }

    .login-text {
        display: none;
    }

    
}



