#content{
    margin: 150px auto;
    width: 640px;
}

#uploud-posts{
    margin: 150px auto 0 auto;
    width: 640px;

}

#logged-in-msg{
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 1001;
    top:100px;
    width: 100%;
    margin: 0 auto;
    top: 80px;
    display: none;
}

#logged-in-msg p{
    color: white;
    font-size: 24px;
    padding: 10px 30px;
    background: linear-gradient(90deg, #ac47ffb3, hsl(328, 92%, 58%, 0.5));
    border-radius: 30px;
}


.posts{
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-manage{
    border: none;
    background: none;
    padding: 8px;
    width: 36px;
    height: 36px;
    margin-right: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.post-manage:hover{
    filter: brightness(0%);
    transform: scale(1.1);
}

.pfp-box{
    display: flex;
    align-items: center;
    padding: 36px;
    gap: 12px;
}

.pfp-box .name{
    font-size: 16px;
    line-height: 24px;
    color: var(--htext-color);
}

.pfp-box .name:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--htext-color);
}

.pfp-box .user{
    font-size: 14px;
    line-height: 20px;
    color: var(--text-secondary)
}

.pfp{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.title{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.pic{ 
    margin-top: 16px;
    width: 100%;
    height: auto;
}

.react{
    padding: 36px 0 16px 36px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.react .likes-btn,
.react .comments-btn,
.react .shares-btn{
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}

.react button{
    border: none;
    background: none;
}

.react img{
    width: 24px;
    height: 24px;
}

#posts-errorHandling{
    text-align: center;
    padding: 15px;
    font-size: 26px;
}
/****************************/ 

.add-post{
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: 16px;
    margin-top: 24px;
    padding: 24px 24px 24px;
    display: flex;
    gap: 16px;
    align-items: start;
}

.post-box{
    display: flex;
    flex-direction: column;
    gap: 21.6px;
}

.post-box #post-textarea{
    width: 528px;
    height: 99.2px;
    border-radius: 14px;
    border: 1.6px solid #E5E7EB;
    padding: 12px;
    resize: none;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

textarea::placeholder{
    font-family: "Arimo" , sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.post-box #post-textarea:focus{
    border-color: #E60076;
    background: #e600771c;
}

.uploud-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uploud-box #image-upload{
    display: flex;
    border-radius: 10px;
    padding: 0 16px;
    gap: 8px;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

#image-upload span{
    font-size: 14px;
    line-height: 20px;
    color: #9810FA;
}

#image-upload:hover{
    filter: brightness(40%);
}

.post-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px 10px 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    opacity: 1;
    color: white;
}

.post-btn:not(:disabled):hover{
    background: var(--primary-hover);
    transform: scale(1.01);
}

.post-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

/****************************/ 

.comments-container{
    width: 100%;
    height: auto;
    padding: 0 36px 16px 36px;
}
.comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 0.8px solid #E5E7EB;
    padding: 6px;
    gap: 16px;
}

.comments-pfp{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.write-comment{
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.write-comment input{
    padding: 8px 16px;
    border-radius: 50px;
    width: 100%;
    border: 1px solid #E5E7EB;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}

input::placeholder{
    font-family: "Arimo" , sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.write-comment input:focus{
    border-color: #E60076;
    background: #e600771c;
}

.read-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.read-comment{
    width: 100%;
    display: flex;
    padding: 12px 12px 0 12px;
    gap: 12px;
    border-radius: 12px;
}

.read-comment .read-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.read-text .text-top{
    display: flex;
    flex-direction: column;
    padding: 8px 16px 0 16px;
    gap: 4px;
    background: #F3F4F6;
    height: auto;
    width: 100%;
    border-radius: 16px;
}

.text-top p{
    color: var(--htext-color);
}

.text-top span{
    color: var(--text-secondary);
}

.text-bottom{
    display: flex;
    padding-left: 16px;
    gap:16px;
}

.text-bottom #message-date{
    color: #6A7282;
    font-size: 12px;
}

.text-bottom #message-likes{
    display: flex;
    gap: 4px;
    color: #6A7282;
    font-size: 12px;
}

.likes-btn #likes-span{
    color: #FB2C36;
}

.updated-content{
    margin: 0 auto !important;
}

.upated-posts{
    margin-top: 0 !important;
}

/*************************/
.post-image{
    display: none;
    flex-direction: column;
    gap: 8px;
}
.post-imgText{
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.post-imgText p{
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}

.post-imgText span{
    color: #99A1AF;
    font-size: 14px;
    line-height: 20px;
}

.imageName-container{
    display: flex;
    justify-content: space-between;
    width: 528px;
    height: 51.2px;
    border-radius: 14px;
    border: 1.6px solid #E5E7EB;
    padding: 12px 16px 12px 16px;
    align-items: center;
    overflow: hidden;
}

.imageName-container #img-url{
    font-size: 16px;
    opacity: 50%;
}

.post-image #img-preview{
    border-radius: 14px;
    object-fit: cover;
    width: 526px;
    height: 144px;
}

.loading-comments{
    text-align: center;
    color: gray;
    padding: 10px;
    font-size: 14px;
}

/**************/

.post-editor{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 192px;
    top: 88px;
    right: 50px;
    background: white;
    border-top: 0.8px solid #E5E7EB;
    box-shadow: 0px 8px 10px -6px #0000001A 0px 20px 25px -5px #0000001A ;
    padding: 0.8px;
    border-radius: 14px;
}

.post-editor button{
    background: none;
    display: flex;
    gap: 12px;
    flex-direction: row;
    padding: 16px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.3s ease;
}

.post-editor button:hover{
    transform: scale(1.02);
    filter: brightness(95%);
    cursor: pointer;
    background: white;
}

.edit-post, .share-post{
    color: var(--text-color);
}

.delete-post{
    color: #E7000B
}

.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 17.6px;
    padding: 24px;
}

.edit-title{
    width: 100%;
    height: 99px;
    resize: none;
    border: 1.6px solid #DAB2FF;
    border-radius: 14px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
}

.title-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px
}

.title-btns button{
    width: 50%;
    height: 40px;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    transition: all 0.3s ease;
}

.save-edit{
    background: var(--primary-color);
    color: white;
}

.cancel-edit{
    background-color: #E5E7EB;
    color: var(--text-color);
}

.title-btns button:hover{
    transform: scale(1.02);
    filter: brightness(80%);    
}
