@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif, Arial;
}

*:focus{
    outline: none
}

:root{
    --primary-color: linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
    --primary-hover: linear-gradient(90deg, #9514ff, #eb0a82);
    --htext-color: #1E2939;
    --text-color: #364153;
    --text-hover: #222934;
    --text-secondary: #4A5565;
    --box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.1), 0px 10px 15px -3px rgba(0,0,0,0.1);
    --logo-color: linear-gradient(90deg, #9810FA, #E60076);

}

body{
    background: linear-gradient(90deg, #FAF5FF, #EFF6FF, #FDF2F8);
}

.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-bottom: 1px solid #E5E7EB;
    padding: 10px 32px 10px 32px;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    top: 0;
    z-index: 1000;
}

.navbar .logo-containor{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.logo-color{
    background: var(--logo-color);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text; 
}

.btn-containor{
    display: flex;
    align-items: center;
    gap: 24px;
}


.btn-containor .navbar-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px 10px 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: transparent;
    
}

.btn-containor .navbar-btn img{
    width: 20px;
    height: 20px;
}

.btn-containor .navbar-btn span{
    font-size: 14px;
    line-height: 20px;    
}

.btn-containor .non-active{
    color: var(--text-color);
}

.btn-containor .active{
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.active:hover{
    background: var(--primary-hover);
    transform: scale(1.05);
}

.non-active:hover{
    color: var(--text-hover);
    transform: scale(1.05);
}

.notification-btn{
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease;

}

.notification-icon{
    width: 26px;
    height: 26px;
}

.notification-dot{
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    right:0;
}

.logout-profile{
    display: flex;
    align-items: center;
    gap: 12px;
}

#user-profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #AD46FF;
    transition: all 0.2s ease;
    cursor: pointer;
}

.loading-animation{
    text-align: center;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--primary-hover);
}