@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif, Arial;
    overflow: hidden;
}

*:focus{
    outline: none
}

:root{
    --primary-color: linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
    --primary-hover: linear-gradient(90deg, #9514ff, #eb0a82);
    --htext-color: #1E2939;
    --text-color: #364153;
    --text-hover: #222934;
    --text-secondary: #4A5565;
    --box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.1), 0px 10px 15px -3px rgba(0,0,0,0.1);
    --logo-color: linear-gradient(90deg, #9810FA, #E60076);

}

body{
    background: linear-gradient(90deg, #FAF5FF, #EFF6FF, #FDF2F8);
}

.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-bottom: 1px solid #E5E7EB;
    padding: 10px 32px 10px 32px;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    top: 0;
    z-index: 1000;
}

.navbar .logo-containor{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.logo-color{
    background: var(--logo-color);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text; 
}

.btn-containor,
.desktop-container,
.phone-container{
    display: flex;
    align-items: center;
    gap: 24px;
}




.btn-containor .navbar-btn,
.desktop-container .navbar-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px 10px 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: transparent;
    
}

.phone-container{
    display: none;
}

.navbar-btn img{
    width: 20px;
    height: 20px;
}

.navbar-btn span{
    font-size: 14px;
    line-height: 20px;    
}

.btn-containor .non-active,
.desktop-container .non-active{
    color: var(--text-color);
}

.btn-containor .active,
.desktop-container .active{
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.btn-containor .active:hover{
    background: var(--primary-hover);
    transform: scale(1.05);
}

.btn-containor .non-active:hover{
    color: var(--text-hover);
    transform: scale(1.05);
}

.notification-btn{
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease;

}

.notification-icon{
    width: 26px;
    height: 26px;
}

.notification-dot{
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    right:0;
}

.logout-profile{
    display: flex;
    align-items: center;
    gap: 12px;
}

#user-profile,
#user-profile2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #AD46FF;
    transition: all 0.2s ease;
    cursor: pointer;
}

.loading-animation{
    text-align: center;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--primary-hover);
}

.nav-container{
    display: flex;

}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

#signupBtn-phone{
    display: none;
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .desktop-container{
        display: none;
    }

    .phone-container{
        display: flex;
    }

    .btn-containor {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        display: none;
        border-top: 1.35px solid #E5E7EB;
        padding: 16px 16px;
        gap: 8px;
    }

    .btn-containor .navbar-btn{
        width: 100%;
        border-radius: 14px;
        padding-left: 16px;
        gap: 12px;
    }

    .btn-containor.menu-open {
        display: flex;
    }

    .btn-containor .active:hover,
    .btn-containor .non-active:hover {
        transform: none;
    }

    #signupBtn-desktop{
        display: none;
    }

    #signupBtn-phone{
        display: flex;
    }

    #uploud-posts{
        width: 100% !important;
        padding: 10px;
    }

    .post-box{
        width: 90% !important;
    }

    .post-box #post-textarea{
        width: 90% !important;
    }

    .post-image #img-preview{
        width: 90% !important;
    }
    
    .imageName-container{
        width: 90% !important;
    }

    #content{
        width: 100% !important;
        padding: 10px;
    }

    .uploud-box{
        width: 90% !important;

    }
}
